body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-color: #016f32;
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}
button {
    background-color: goldenrod;
    color: #016f32;
    width: 150px;
    color: #016f32;
    display: inline;
    
}
#newCard{
    background-color: goldenrod;
    color: #016f32;
    width: 150px;
    color: #016f32;
    display: inline;   
}